name: Deployment Workflow
on:
  push:
    branches: [main]

jobs:
  job_one:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: testing omgneering.com server ssh connection
        uses: appleboy/ssh-action@master
        with:
          host: ec2-52-78-75-232.ap-northeast-2.compute.amazonaws.com
          username: ubuntu
          key: ${{ secrets.AWS_EC2_ACCESS_KEY }}
          port: 22
          script: |
            cd hongaeting-v3-fe
            git pull origin main
            npm run build
